version: '3'

name: unvier

services:
  universer:
    restart: always
    container_name: universer
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/univer/universer:${UNIVERSER_VERSION}
    ports:
      - 8000:8000
    expose:
      - 9000
    environment:
      - NO_PROXY=127.0.0.1,localhost,172.32.0.0/16,univer-temporal,collaboration-server
    volumes:
      - ./configs:/data/configs
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/univers:/tmp/univers
    depends_on:
      univer-postgres:
        condition: service_started
      univer-rabbitmq:
        condition: service_started
      univer-temporal:
        condition: service_started
      init-db:
        condition: service_completed_successfully
    networks:
      - univer
    labels:
      - com.univer.app=universer

  init-db:
    container_name: init-db
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/universer-sql:${UNIVERSER_SQL_VERSION}
    environment:
      - HOST=${DATABASE_HOST}
      - PORT=${DATABASE_PORT}
      - USERNAME=${DATABASE_USERNAME}
      - PASSWORD=${DATABASE_PASSWORD}
      - DATABASE=${DATABASE_DBNAME}
      - NO_PROXY=127.0.0.1,localhost,172.30.0.0/16,${DATABASE_HOST}
    networks:
      - univer
    depends_on:
      univer-postgres:
        condition: service_started
    labels:
      - com.univer.app=init-db

  collaboration-server:
    restart: always
    container_name: collaboration-server
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/univer/univer-collaboration:${COLLABORATION_SERVER_VERSION}
    environment:
      - URL_OF_APPLY_SERVICE=0.0.0.0:5002
      - URL_OF_UNIVERSER_SERVICE=universer:8000
      - URL_OF_SNAPSHOT_SERVICE=universer:9000
      - SAVE_SHEET_SNAPSHOT_INTERVAL=50
      - SAVE_DOC_SNAPSHOT_INTERVAL=50
      - no_proxy=127.0.0.1,localhost,172.32.0.0/16,universer
    expose:
      - 5002
    networks:
      - univer
    labels:
      - com.univer.app=collaboration-server

  collaboration-demo:
    restart: always
    container_name: collaboration-demo
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/univer/univer-collaboration-demo:${COLLABORATION_DEMO_VERSION}
    ports:
      - 3010:3010
    networks:
      - univer
    labels:
      - com.univer.app=collaboration-demo
    depends_on:
      - universer

  univer-postgres:
    image: postgres:${POSTGRES_VERSION}
    restart: always
    container_name: univer-postgres
    environment:
      - POSTGRES_USER=${DATABASE_DBNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - PGDATA=/var/lib/postgresql/data/
    ports:
      - 10001:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./sql/postgresql:/docker-entrypoint-initdb.d
    networks:
      - univer
    labels:
      - com.univer.app=postgres

  univer-rabbitmq:
    restart: always
    container_name: univer-rabbitmq
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/rabbitmq:${RABBITMQ_VERSION}
    ports:
      - 10003:15672
    expose:
      - 5672
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USERNAME}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    networks:
      - univer
    labels:
      - com.univer.app=rabbitmq

  univer-clickhouse:
    restart: always
    container_name: univer-clickhouse
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/clickhouse:${CLICKHOUSE_VERSION}
    environment:
      - CLICKHOUSE_ADMIN_USER=${CLICKHOUSE_USERNAME}
      - CLICKHOUSE_ADMIN_PASSWORD=${CLICKHOUSE_PASSWORD}
      - ALLOW_EMPTY_PASSWORD=no
    volumes:
      - clickhouse-data:/bitnami/clickhouse
      - ./sql/clickhouse:/docker-entrypoint-initdb.d
    expose:
      - 8123
      - 9000
    networks:
      - univer
    labels:
      - com.univer.app=clickhouse

  univer-temporal:
    restart: always
    container_name: univer-temporal
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/temporal:${TEMPORAL_VERSION}
    environment:
      - DB=postgresql
      - POSTGRES_SEEDS=${DATABASE_HOST}
      - DB_PORT=${DATABASE_PORT}
      - DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PWD=${DATABASE_PASSWORD}
      - TEMPORAL_CLI_SHOW_STACKS=1
      - NO_PROXY=127.0.0.1,localhost,172.32.0.0/16
    volumes:
      - ./temporal/dynamicconfig:/etc/temporal/config/dynamicconfig
    expose:
      - 7233
    depends_on:
      - univer-postgres
    networks:
      - univer
    labels:
      - com.univer.app=temporal

  # univer-worker:
  #   restart: always
  #   image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/univer/univer-worker:${UNIVER_WORKER_VERSION}
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - /tmp/univers:/tmp/univers
  #   configs:
  #     - source: conf
  #       target: /app/configs/config.yaml
  #   environment:
  #     - NO_PROXY=127.0.0.1,localhost,172.32.0.0/16,univer-temporal
  #   depends_on:
  #     - univer-temporal
  #   networks:
  #     - univer
  #   labels:
  #     - com.univer.app=worker

  univer-worker-exchange:
    restart: always
    container_name: univer-worker-exchange
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/univer/worker-exchange:${UNIVER_WORKER_EXCHANGE_VERSION}
    environment:
      - NO_PROXY=127.0.0.1,localhost,172.32.0.0/16,univer-temporal,universer
      - TEMPORAL_SERVER=${TEMPORAL_HOST}:${TEMPORAL_PORT}
      - TEMPORAL_NAMESPACE=${TEMPORAL_NAMESPACE}
    depends_on:
      - univer-temporal
    networks:
      - univer
    labels:
      - com.univer.app=worker-exchange

  univer-loki:
    restart: always
    container_name: univer-loki
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/loki:${LOKI_VERSION}
    expose:
      - 3100
    environment:
      - NO_PROXY=127.0.0.1,localhost,172.32.0.0/16
    command: -config.file=/etc/loki/config.yaml
    networks:
      - univer
    volumes:
      - ./loki/loki:/etc/loki:ro
      - loki-data:/loki
    labels:
      - com.univer.app=loki

  univer-promtail:
    restart: always
    container_name: univer-promtail
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/promtail:${PROMTAIL_VERSION}
    volumes:
      - ./loki/promtail:/etc/promtail:ro
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NO_PROXY=127.0.0.1,localhost,172.32.0.0/16,univer-loki
    command: -config.file=/etc/promtail/config.yml
    networks:
      - univer
    labels:
      - com.univer.app=promtail

  univer-grafana:
    restart: always
    container_name: univer-grafana
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - NO_PROXY=127.0.0.1,localhost,172.32.0.0/16,univer-loki
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://univer-loki:3100
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/grafana:${GRAFANA_VERSION}
    ports:
      - 10004:3000
    volumes:
      - ./loki/grafana/grafana.ini:/etc/grafana/grafana.ini:ro
    networks:
      - univer
    labels:
      - com.univer.app=grafana

  univer-redis:
    restart: always
    image: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/redis:7.0.15-debian-11-r3
    container_name: univer-reids
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    expose:
      - 6379
    networks:
      - univer
    labels:
      - com.univer.app=redis
    volumes:
      - redis-data:/bitnami/redis/data

  univer-casdoor:
    image: casbin/casdoor:v1.610.0
    container_name: univer-casdoor
    environment:
      - driverName=postgres
      - dataSourceName="user=${DATABASE_USERNAME} password=${DATABASE_PASSWORD} host=${DATABASE_HOST} port=${DATABASE_PORT} dbname=casdoor sslmode=disable"
    ports:
      - 10005:8000
    networks:
      - univer
    labels:
      - com.univer.app=casdoor

networks:
  univer:
    driver: bridge
    name: unvier
    ipam:
     config:
       - subnet: 172.32.0.0/16

volumes:
  postgres-data:
    name: univer-postgres-data
  clickhouse-data:
    name: univer-clickhouse-data
  loki-data:
    name: univer-loki-data
  redis-data:
    name: univer-redis-data
