apiVersion: v1
kind: Secret
metadata:
  name: {{ include "universer.fullname" . }}-secret
  labels:
    {{- include "universer.labels" . | nindent 4 }}
data:
  LICENSE: {{ .Values.license.LICENSE | b64enc | quote }}
  public_key.crt: {{ .Values.license.publicKey | b64enc | quote }}
  casdoor.pem: {{ .Values.casdoorLicense.publicKey | b64enc | quote }}