apiVersion: v2
name: univer-stack
description: A Helm chart for Kubernetes

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.15.3 # VERSION

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "1.16.0"

dependencies:
  - name: universer
    version: 0.15.3 # VERSION
    repository: oci://univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/helm-charts
  - name: collaboration-server
    version: 0.15.3 # VERSION
    repository: oci://univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/helm-charts
  - name: collaboration-demo
    version: 0.15.3 # VERSION
    repository: oci://univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/helm-charts
    condition: collaboration-demo.enabled
  - name: postgresql
    version: 13.4.3
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: mysql
    version: 9.18.2
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mysql.enabled
  - name: redis
    version: 20.0.3
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: rabbitmq
    version: 12.9.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: rabbitmq.enabled
  - name: minio
    version: 13.3.1
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: minio.enabled
  - name: temporal
    version: 0.33.0
    repository: oci://univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/helm-charts
    condition: temporal.enabled
  - name: worker
    version: 0.15.3 # VERSION
    repository: oci://univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/helm-charts
  - name: base
    version: 1.20.1
    repository: https://istio-release.storage.googleapis.com/charts
    tags:
      - "istio"
    alias: istio-base
  - name: istiod
    version: 1.20.1
    repository: https://istio-release.storage.googleapis.com/charts
    tags:
      - "istio"
    alias: istio-istiod
  - name: cni
    version: 1.20.1
    repository: https://istio-release.storage.googleapis.com/charts
    condition: istio-istiod.istio_cni.enabled
    tags:
      - "istio"
    alias: istio-cni
  - name: gateway
    version: 1.20.1
    repository: https://istio-release.storage.googleapis.com/charts
    condition: istio-gateway.enabled
    tags:
      - "istio"
    alias: istio-gateway
  - name: virtualservicemerge
    version: 0.1.0
    repository: oci://univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/helm-charts
    condition: istio-virtualservicemerge.enabled
    tags:
      - "istio"
    alias: istio-virtualservicemerge
  - name: univer-ssc
    version: 0.15.3 # VERSION
    repository: oci://univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/helm-charts
  - name: collaboration-helper-server
    version: 0.15.3 # VERSION
    repository: oci://univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/helm-charts