# Default values for univer-stack.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""
selectorLabels: {}

univerStack:
  imagePullSecrets: {}
  securityContext: {}
  temporalJob:
    image:
      registry: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com
      repository: release/temporal-admin-tools
      tag: "1.22.4"
      pullPolicy: IfNotPresent
    backoffLimit: 100

global: 
  istioNamespace: "univer"
  istioDefaultRevision: "univer"
  hub: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release

universer:
  fullnameOverride: universer
  replicaCount: 3
  ingress:
    enabled: true
    hosts:
      - host: "univer.example.com"
        paths:
          - path: /universer-api/
            pathType: Prefix
  config:
    database:
      maxOpenConns: 100
      maxIdleConns: 100
      # minutes
      connMaxLifetime: 60
      driver: postgresql
      host: postgresql
      port: 5432
      dbname: univer
      username: postgres
      password: postgres
    rabbitmq:
      host: rabbitmq
      port: 5672
      username: guest
      password: guest
    redis:
      addr: redis-master:6379
    apply:
      host: collaboration-server
      port: 5002
    s3:
      accessKeyID: admin
      accessKeySecret: minioadmin
      region: "us-east-1"
      endpoint: http://minio:9000
      endpointPublic:
      usePathStyle: true
      presignExpires: 3600s
      defaultBucket: univer
    temporal:
      addr: temporal-frontend:7233
      namespace: univer
    auth:
      enabled: false
  istio:
    enabled: true

collaboration-server:
  fullnameOverride: collaboration-server
  replicaCount: 3
  config:
    univerServer: universer:8000
    snapshotServer: universer:9000
    helperService: collaboration-helper-server:5006
    saveSnapshotInterval: 3
  istio:
    enabled: true

collaboration-helper-server:
  fullnameOverride: collaboration-helper-server
  replicaCount: 2
  enabled: true
  config:
    univerServer: universer:8000
    snapshotServer: universer:9000
    unitInactivateTimeout: 180000 

collaboration-demo:
  enabled: true
  fullnameOverride: collaboration-demo
  ingress:
    enabled: true
    hosts:
      - host: "univer.example.com"
        paths:
          - path: /
            pathType: Prefix

worker:
  fullnameOverride: worker-exchange
  image:
    repository: release/worker-exchange
    tag: 0.12.4 # VERSION
  temporalServer:
    host: temporal-frontend:7233
    namespace: univer
  redis:
    addr: redis-master:6379

postgresql:
  enabled: true
  fullnameOverride: postgresql
  global:
    # storageClass: nas
    postgresql:
      auth:
        postgresPassword: postgres
        database: postgres
  image:
    registry: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com
    repository: release/postgres
    tag: 16.1
    pullPolicy: IfNotPresent
  commonAnnotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-100"
  metrics:
    enabled: true
    image:
      registry: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com
      repository: release/postgres-exporter
      tag: 0.15.0-debian-11-r6
    customMetrics:
      pg_stat_activity_by_client:
        query: |
          SELECT
            client_addr,
            count(*) as connection_count
          FROM
            pg_stat_activity
            GROUP BY
            client_addr;
        metrics:
          - client_addr:
              usage: "LABEL"
              description: "The IP address of the client"
          - connection_count:
              usage: "GAUGE"
              description: "Number of connections for this client IP"
      pg_stat_statements_per_db:
        query: |
          SELECT
            pg_database.datname,
            pg_stat_statements.queryid,
            pg_stat_statements.calls,
            pg_stat_statements.total_exec_time / pg_stat_statements.calls AS avg_exec_time,
            CASE
              WHEN left(pg_stat_statements.query, 6) = 'INSERT' THEN 'create'
              WHEN left(pg_stat_statements.query, 6) = 'SELECT' THEN 'read'
              WHEN left(pg_stat_statements.query, 6) = 'UPDATE' THEN 'update'
              WHEN left(pg_stat_statements.query, 6) = 'DELETE' THEN 'delete'
              ELSE 'other'
            END AS operation
          FROM
            pg_stat_statements
          JOIN pg_database ON pg_stat_statements.dbid = pg_database.oid
          WHERE
            pg_database.datname = 'univer';
        metrics:
          - datname:
              usage: "LABEL"
              description: "Name of the database"
          - queryid:
              usage: "LABEL"
              description: "Internal hash code, identifying the executed statement"
          - calls:
              usage: "COUNTER"
              description: "Number of times executed"
          - avg_exec_time:
              usage: "GAUGE"
              description: "Average execution time of statements, in milliseconds"
          - operation:
              usage: "LABEL"
              description: "Type of CRUD operation"


mysql:
  enabled: false

temporal:
  enabled: true
  fullnameOverride: temporal
  server:
    affinity: {}
    image:
      repository: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/temporal
      tag: 1.22.4
    config:
      persistence:
        default:
          driver: "sql"
          sql:
            driver: "postgres12"
            host: postgresql
            port: 5432
            database: temporal
            user: postgres
            password: postgres
            maxConns: 20
            maxConnLifetime: "1h"

        visibility:
          driver: "sql"
          sql:
            driver: "postgres12"
            host: postgresql
            port: 5432
            database: temporal_visibility
            user: postgres
            password: postgres
            maxConns: 20
            maxConnLifetime: "1h"

  admintools:
    image:
      repository: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/temporal-admin-tools
      tag: 1.22.4
    affinity: {}

  web:
    image:
      repository: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com/release/temporal-ui
      tag: 2.16.2
    affinity: {}

  cassandra:
    enabled: false

  mysql:
    enabled: false

  postgresql:
    enabled: true

  prometheus:
    enabled: false

  grafana:
    enabled: false
    
  elasticsearch:
    enabled: false

  schema:
    setup:
      enabled: true
    update:
      enabled: true

redis:
  enabled: true
  fullnameOverride: redis
  architecture: standalone
  auth:
    enabled: false
  image:
    registry: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com
    repository: release/redis
    tag: 7.2.4-debian-12-r12
  metrics:
    enabled: true
    image:
      registry: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com
      repository: release/redis-exporter
      tag: 1.56.0-debian-11-r1

rabbitmq:
  enabled: true
  fullnameOverride: rabbitmq
  auth:
    username: guest
    password: guest
    securePassword: false
  image:
    registry: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com
    repository: release/rabbitmq
    tag: 3.12.3-debian-11-r0
  metrics:
    enabled: true

minio:
  enabled: true
  fullnameOverride: minio
  image:
    registry: univer-acr-registry.cn-shenzhen.cr.aliyuncs.com
    repository: release/minio
    tag: 2024.8.3-debian-12-r1
  auth:
    rootUser: admin
    rootPassword: minioadmin
  defaultBuckets: univer
  persistence:
    annotations: 
      helm.sh/resource-policy: "keep"
  apiIngress:
    enabled: false
    hostname: "minio.example.com"

istio-base:
  defaultRevision: univer

istio-istiod:
  revision: univer
  meshConfig:
    accessLogFile: /dev/stdout
    accessLogFormat: |
      [%START_TIME%] "%REQ(:METHOD)% %REQ(X-ENVOY-ORIGINAL-PATH?:PATH)% %PROTOCOL%" %RESPONSE_CODE% %RESPONSE_FLAGS% %BYTES_RECEIVED% %BYTES_SENT% %DURATION% %RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)% "%REQ(X-FORWARDED-FOR)%" %DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT% "%REQ(USER-AGENT)%" "RID:%REQ(X-REQUEST-ID)%" "FID:%REQ(X-FEATURE-ID)%" "UID:%REQ(X-UNIT-ID)%" "%REQ(:AUTHORITY)%" "%UPSTREAM_HOST%"
    enablePrometheusMerge: true
    enableTracing: true
    defaultConfig:
      tracing:
        sampling: 50.0
      proxyMetadata:
        EXIT_ON_ZERO_ACTIVE_CONNECTIONS: "true"
  istio_cni:
    enabled: false

istio-cni: {}

istio-gateway:
  enabled: false
  name: istio-ingress
  imagePullPolicy: IfNotPresent

istio-virtualservicemerge:
  enabled: false
  fullnameOverride: istio-virtualservicemerge

tags:
  istio: true

univer-ssc:
  enabled: false
