name: Main Workflow

on:
  # pull_request:
  #   branches:
  #     - main
  workflow_dispatch:
    

jobs:
  deploy:
    name: DockerComposeDeploy
    runs-on: ubuntu-latest
    steps:
    - uses: appleboy/ssh-action@v1.0.0
      env:
        REGISTRY_USERNAME: "${{ secrets.REGISTRY_USERNAME }}"
        REGISTRY_PASSWORD: "${{ secrets.REGISTRY_PASSWORD }}"
        HTTPS_PROXY: "${{ secrets.HTTPS_PROXY }}"
        NO_PROXY: "${{ vars.NO_PROXY }}"
        LICENSE: "${{ secrets.LICENSE }}"
        PUBLIC_KEY: "${{ secrets.PUBLIC_KEY }}"
        POSTGRES_PASSWORD: "${{ secrets.POSTGRES_PASSWORD }}"
        RABBITMQ_PASSWORD: "${{ secrets.RABBITMQ_PASSWORD }}"
        CLICKHOUSE_PASSWORD: "${{ secrets.CLICKHOUSE_PASSWORD }}"
        UNIVERSER_ADMIN_PASSWORD: "${{ secrets.UNIVERSER_ADMIN_PASSWORD }}"
        GRAFANA_PASSWORD: "${{ secrets.GRAFANA_PASSWORD }}"
      with:
        host: ${{ vars.HOST }}
        username: ${{ vars.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ vars.PORT }}
        script_stop: true
        envs: REGISTRY_USERNAME,REGISTRY_PASSWORD,HTTPS_PROXY,NO_PROXY,LICENSE,PUBLIC_KEY,POSTGRES_PASSWORD,RABBITMQ_PASSWORD,CLICKHOUSE_PASSWORD,UNIVERSER_ADMIN_PASSWORD,GRAFANA_PASSWORD
        script: |
          local_dir=~/helm-charts;

          env;

          repo_url="https://github.com/dream-num/helm-charts.git";

          if [ ! -d "$local_dir" ]; then \
            git clone "$repo_url" $local_dir; \
          else \
            cd $local_dir; \
            git pull; \
          fi;

          ls $local_dir/docker-compose;

          cd $local_dir/docker-compose;

          echo -e $LICENSE > ./configs/LICENSE;
          echo -e $PUBLIC_KEY > ./configs/public_key.crt;

          bash run.dev.sh;

          exit;


